<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Emailová Šablona</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        .container {
            background-color: #ffffff;
            padding: 20px;
            margin: auto;
            max-width: 600px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .header {
            font-size: 24px;
            color: #333333;
        }
        .content {
            margin-top: 20px;
        }
        .footer {
            margin-top: 20px;
            font-size: 12px;
            text-align: center;
            color: #aaaaaa;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">Vyšel nový článek - {{ article.title }}!</div>
    <div class="content">
        <p>Více informací si můžete přečíst níže</p>
        <p><a href="{{ absolute_url(path('app_admin_article_detail', {id: article.id})) }}">{{ article.title }}</a></p>
    </div>
    <div class="footer">
        © 2024 Vaše Společnost. Všechna práva vyhrazena.
    </div>
</div>
</body>
</html>
